*{
    
    padding: 0;
    margin:0;
}
/*-------navigation------------------*/
#nav{
    position:sticky;
    top:0;
    z-index: 10;
}
.navbar-brand {
    text-transform: uppercase;
}
.navbar-nav li{
padding: 10px;
color:black!important;
font-size: 20px;
}
.navbar-nav li a{
    float:right;
    text-align: left;
}
.navbar-nav li a:hover{
    color: blue! important;
    cursor: pointer;
}
.navbar-toggler{
    border:none!important;
}
.nav-link{
    color:black;
    font-weight: 600;
    font-size: 16px;
}
/*------------slider------------------*/
#slider{
    width:100%;
}
/*--------------about----------------*/
#aboutUs{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    color:rgb(10, 3, 3)! important;
    
}
 h2{
text-align: center;
font-weight: 500;
font-size: 40px;

}
h2::after{
    content:"";
    width:170px;
    height: 2px;
    display: block;
    margin:20px auto;
    background-color: black;
}
#aboutUs .btn{
    margin-top: 20px;
    right:50%;
    transform: translateX(50%);
    left: initial! important;
}
.about-content{
    line-height: 1.9em;
    text-align: center;
}
/*------------------team----------------*/
#team
{
    padding-top: 50px;
    padding-bottom: 50px;
    color:#555;
}
.profile-pic{
    margin-top: 40px;
}
.memberDescription h3{
   color:rgb(51, 45, 45);
}

.memberDescription p{
    color:rgb(48, 44, 44);
    font-family: sans-serif;
}
.memberDescription h4{
    font-size: 20px;
}
.profile-pic .image-box {

opacity:1;
display: block;
position: relative;
}
.profile-pic .image-box img{
    filter: grayscale(1);
}
.profile-pic .image-box img:hover{
filter: grayscale(0);
cursor: pointer;
}
.fa{
height:25px;
width:25px;
margin-top: 5px;
padding:4px;

}
.image-box ul{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left:10%;
    transform: translateX(62px);
    opacity:0;
}
.image-box ul li{
    list-style: none;
    padding: 5px;
    display: inline-block;
}
.image-box:hover ul{
    opacity:1;
}
.image-box ul,.image-box ul li{
    transition:0.5s;
}





